<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<body>


  <center>
    <form method="POST" action="/">
      BROADCAST MESSAGE:<br>
      <input id="mytextarea" type="textarea" rows="100" cols="50" name="broadcast" value="">
      <br>
      <input type="submit" value="Submit">
    </form>
  </center>
  <script>
$(function() {

  // Target all classed with ".lined"
  $(".lined").linedtextarea(
    {selectedLine: 1}
  );

  // Target a single one
  $("#mytextarea").linedtextarea();

});
</script>
</body>
