<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<body>



    <form method="POST" action="/">
      BROADCAST JSON MESSAGE:<br>
      <textarea class="lined" type="textarea" rows="10" name="broadcast" value=""></textarea>
      <br>
      <input type="submit" value="BROADCAST!">
    </form>

  <script>
$(function() {

  // Target all classed with ".lined"
  $(".lined").linedtextarea(
    {selectedLine: 1}
  );

  // Target a single one
  $("#mytextarea").linedtextarea();

});
</script>
</body>
