<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<body>
<form id="sugarList" method="post" action="/list">
  <% for(var i=0; i<list.length; i++) {%>
    <input type="checkbox" value='<%= list[i] %>'><span><%= list[i] %></span>
  <% } %>
  <div class="sugar-button-done">
     <label>
        <input type="hidden" value='Done'>
        <span>Done</span>
     </label>
  </div>
</form>

<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
<script>
    MessengerExtensions.getUserID(function success(uids) {
      var psid = uids.psid;
      alert(psid)
    }, function error(err) {

    });
</script>
<script>
$('.sugar-button').click(function (evt) {
    $(this).toggleClass("clicked");
    evt.preventDefault();
});
$('.sugar-button-done').click(function (evt) {
    $('form').submit();
    evt.preventDefault();
});
</script>
</body>
