<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>



<body>
<form id="sugarList" method="post" action="/list">
  <input id="facebook_id" type="hidden" name='fb_id'>

  <% for(var i=0; i<list.length; i++) {%>
    <div id="sugarbutton">
      <label>
        <input type="checkbox" name='<%= list[i] %>'><span><%= list[i] %></span>
      </label>
    </div>
  <% } %>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
       Submit
     </a>
 </div>
</form>

<script>
window.extAsyncInit = function() {
  MessengerExtensions.getUserID(function success(uids) {
       var psid = uids.psid.toString();
       $("#facebook_id").val(psid)
     }, function error(err) {

     });
};

$('#sugarbutton.done').click(function (evt) {
    $('form').submit();
    evt.preventDefault();
    MessengerExtensions.requestCloseBrowser(function success() {

      }, function error(err) {

      });
});

</script>
</body>
