<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<body>

<p>
ID: <%= psid %><br/>
</p>
<form>
  <input type="checkbox" name="Sugar" value="Sugar">Sugar<br>
  <input type="checkbox" name="Cane Sugar" value="Cane Sugar">Cane Sugar<br>
  <input type="checkbox" name="Sucrose" value="Sucrose">Sucrose<br>
  <input type="checkbox" name="Fructose" value="Fructose">Fructose<br>
  <input type="checkbox" name="Lactose" value="Lactose">Lactose<br>
</form>
<ul>
  <li>Sugar</li>
  <li>Cane Sugar</li>
  <li>Sucrose</li>
  <li>Fructose</li>
  <li>Lactose</li>
  <li>Corn Syrup</li>
  <li>Maltodextrin</li>
  <li>Dextrose</li>
  <li>Glucose</li>
  <li>Evaporated Cane Juice</li>
  <li>Molasses</li>
  <li>High Fructose Corn Syrup</li>
  <li>Coconut Sugar</li>
  <li>Palm Sugar</li>
  <li>Rice Malt Syrup</li>
  <li>Malt</li>
  <li>Fruit Juice Concentrate</li>
  <li>Honey</li>
  <li>Maple Syrup</li>
  <li>Agave</li>
  <li>Date Syrup</li>
  <li>Stevia</li>
  <li>Monk Fruit Juice</li>
  <li>Luo Han Guo</li>
  <li>Thaumatin</li>
  <li>Unrefined Sugar</li>
  <li>Mannitol</li>
  <li>Xylitol</li>
  <li>Sorbitol</li>
  <li>Tagatose</li>
  <li>Isomaltulose</li>
  <li>Polydextrose</li>
  <li>Aspartame (i.e. Equal)</li>
  <li>Sucralose (i.e. Splenda)</li>
  <li>Acesulphame Potassium</li>
  <li>Saccharin (i.e. Sweet ‘N Low)</li>
</ul>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
<script>
    MessengerExtensions.getUserID(function success(uids) {
      var psid = uids.psid;
      alert(psid)
    }, function error(err) {

    });
</script>
</body>
