<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>

<body>
<form>
  <% for(var i=0; i<list.length; i++) {%>
    <div id="ck-button">
       <label>
          <input type="checkbox" value="1">
          <span><%= list[i] %></span>
       </label>
    </div>
  <% } %>
</form>



<form>
  <div id="ck-button">
     <label>
        <input type="checkbox" value="Sugar">
        <span>Sugar</span>
     </label>
  </div>
  <br>
  <div id="ck-button">
     <label>
        <input type="checkbox" value="Cane Sugar">
        <span>Cane Sugar</span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox" value="Sucrose">
        <span>Sucrose</span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox" value="Fructose">
        <span>Fructose</span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox" value="Lactose">
        <span>Lactose</span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox" value="Lactose">
        <span>Corn Syrup</span>
     </label>
  </div>
  <div id="ck-button">
     <label>
        <input type="checkbox" value="Maltodextrin">
        <span>Maltodextrin</span>
     </label>
  </div>

  <input type="checkbox" name="Cane Sugar" value="Cane Sugar"><label class="natural">Cane Sugar</label><br>
  <input type="checkbox" name="Sucrose" value="Sucrose"><label class="natural">Sucrose</label><br>
  <input type="checkbox" name="Fructose" value="Fructose"><label class="natural">Fructose</label><br>
  <input type="checkbox" name="Lactose" value="Lactose"><label class="natural">Lactose</label><br>
  <input type="checkbox" name="Corn Syrup" value="Corn Syrup"><label class="natural">Corn Syrup</label><br>
  <input type="checkbox" name="Maltodextrin" value="Maltodextrin"><label class="natural">Maltodextrin</label><br>
  <input type="checkbox" name="Dextrose" value="Dextrose"><label class="natural">Dextrose</label><br>
  <input type="checkbox" name="Molasses" value="Molasses"><label class="natural">Molasses</label><br>
  <input type="checkbox" name="Evaporated Cane Juice" value="Evaporated Cane Juice"><label class="natural">Evaporated Cane Juice</label><br>
  <input type="checkbox" name="High Fructose Corn Syrup" value="High Fructose Corn Syrup"><label class="natural">High Fructose Corn Syrup</label><br>
  <input type="checkbox" name="Coconut Sugar" value="Coconut Sugar"><label class="natural">Coconut Sugar</label><br>
  <input type="checkbox" name="Palm Sugar" value="Palm Sugar"><label class="natural">Palm Sugar</label><br>
  <input type="checkbox" name="Rice Malt Syrup" value="Rice Malt Syrup"><label class="natural">Rice Malt Syrup</label><br>
  <input type="checkbox" name="Malt" value="Malt"><label class="natural">Malt</label><br>
  <input type="checkbox" name="Fruit Juice Concentrate" value="Fruit Juice Concentrate"><label class="natural">Fruit Juice Concentrate</label><br>
  <input type="checkbox" name="Honey" value="Honey"><label class="natural">Honey</label><br>
  <input type="checkbox" name="Maple Syrup" value="Maple Syrup"><label class="natural">Maple Syrup</label><br>
  <input type="checkbox" name="Agave" value="Agave"><label class="natural">Agave</label><br>
  <input type="checkbox" name="Date Syrup" value="Date Syrup"><label class="natural">Date Syrup</label><br>
  <input type="checkbox" name="Stevia" value="Stevia"><label class="natural">Stevia</label><br>
  <input type="checkbox" name="Monk Fruit Juice" value="Monk Fruit Juice"><label class="natural">Monk Fruit Juice</label><br>
  <input type="checkbox" name="Luo Han Guo" value="Luo Han Guo"><label class="natural">Luo Han Guo</label><br>
  <input type="checkbox" name="Thaumatin" value="Thaumatin"><label class="natural">Thaumatin</label><br>
  <input type="checkbox" name="Unrefined Sugar" value="Unrefined Sugar"><label class="natural">Unrefined Sugar</label><br>

  <input type="checkbox" name="Mannitol" value="Mannitol"><label class="artificial">Mannitol</label><br>
  <input type="checkbox" name="Xylitol" value="Xylitol"><label class="artificial">Xylitol</label><br>
  <input type="checkbox" name="Sorbitol" value="Sorbitol"><label class="artificial">Sorbitol</label><br>
  <input type="checkbox" name="Tagatose" value="Tagatose"><label class="artificial">Tagatose</label><br>
  <input type="checkbox" name="Isomaltulose" value="Isomaltulose"><label class="artificial">Isomaltulose</label><br>
  <input type="checkbox" name="Polydextrose" value="Polydextrose"><label class="artificial">Polydextrose</label><br>
  <input type="checkbox" name="Aspartame (i.e. Equal)" value="Aspartame (i.e. Equal)"><label class="artificial">Aspartame (i.e. Equal)</label><br>
  <input type="checkbox" name="Sucralose (i.e. Splenda)" value="Sucralose (i.e. Splenda)"><label class="artificial">Sucralose (i.e. Splenda)</label><br>
  <input type="checkbox" name="Acesulphame Potassium" value="Acesulphame Potassium"><label class="artificial">Acesulphame Potassium</label><br>
  <input type="checkbox" name="Saccharin (i.e. Sweet ‘N Low)" value="Saccharin (i.e. Sweet ‘N Low)"><label class="artificial">Saccharin (i.e. Sweet ‘N Low)</label><br>
  <input type="checkbox" name="Fruit Juice Concentrate" value="Fruit Juice Concentrate"><label class="artificial">Fruit Juice Concentrate</label><br>
</form>
<ul>
  <li>Sugar</li>
  <li>Cane Sugar</li>
  <li>Sucrose</li>
  <li>Fructose</li>
  <li>Lactose</li>
  <li>Corn Syrup</li>
  <li>Maltodextrin</li>
  <li>Dextrose</li>
  <li>Glucose</li>
  <li>Evaporated Cane Juice</li>
  <li>Molasses</li>
  <li>High Fructose Corn Syrup</li>
  <li>Coconut Sugar</li>
  <li>Palm Sugar</li>
  <li>Rice Malt Syrup</li>
  <li>Malt</li>
  <li>Fruit Juice Concentrate</li>
  <li>Honey</li>
  <li>Maple Syrup</li>
  <li>Agave</li>
  <li>Date Syrup</li>
  <li>Stevia</li>
  <li>Monk Fruit Juice</li>
  <li>Luo Han Guo</li>
  <li>Thaumatin</li>
  <li>Unrefined Sugar</li>
  <li>Mannitol</li>
  <li>Xylitol</li>
  <li>Sorbitol</li>
  <li>Tagatose</li>
  <li>Isomaltulose</li>
  <li>Polydextrose</li>
  <li>Aspartame (i.e. Equal)</li>
  <li>Sucralose (i.e. Splenda)</li>
  <li>Acesulphame Potassium</li>
  <li>Saccharin (i.e. Sweet ‘N Low)</li>
</ul>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'Messenger'));
</script>
<script>
    MessengerExtensions.getUserID(function success(uids) {
      var psid = uids.psid;
      alert(psid)
    }, function error(err) {

    });
</script>
</body>
