<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>



<body>
<form id="sugarList" method="post" action="/list">
  <input id="facebook_id" type="hidden" name='fb_id'>
  <% for(var i=0; i<list.length; i++) {%>
    <div id="sugarbutton">
      <label>
        <input type="checkbox" name='<%= list[i] %>' value='1'><span><%= list[i] %></span>
        <input type="hidden" name='<%= list[i] %>' value='0'>
      </label>
    </div>
  <% } %>
  <div id="sugarbutton" class="done">
     <label>
        <input type="hidden" value='Done'><span>Done</span>
     </label>
  </div>
</form>


<script>
window.extAsyncInit = function() {
  MessengerExtensions.getUserID(function success(uids) {
       var psid = uids.psid.toString();
       $("#facebook_id").val(psid)
     }, function error(err) {

     });
};

// $('.sugar-button').click(function (evt) {
//     $(this).toggleClass("clicked");
//     evt.preventDefault();
// });
$('.sugar-button-done').click(function (evt) {
    $('form').submit();
    evt.preventDefault();
    MessengerExtensions.requestCloseBrowser(function success() {

      }, function error(err) {

      });
});

</script>
</body>
