<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>
<style>
#sugaritem {
  margin:4px;
  text-align: center;
  background-color:#f7f7f7;
  border-radius:14px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
  color:#1f93ff;
  width: 14.0em;
  cursor: move;
}
</style>


<body style="overflow-y: hidden">
<ul id="slippylist">
  <% for(var i=0; i<list.length; i++) {%>

      <li id="sugaritem"><%= list[i] %></li>

  <% } %>

</ul>
<script>

window.extAsyncInit = function() {
  MessengerExtensions.getUserID(function success(uids) {
       var psid = uids.psid.toString();
       $("#facebook_id").val(psid)
     }, function error(err) {

     });
};

function setupSlip(list) {

  list.addEventListener('slip:beforeswipe', function(e){e.preventDefault();}, false);

  list.addEventListener('slip:reorder', function(e){
        e.target.parentNode.insertBefore(e.target, e.detail.insertBefore);
        return false;
  }, false);

  list.addEventListener('slip:beforewait', function(e){
    e.preventDefault();
  }, false);

  return new Slip(list);

}

setupSlip(document.getElementById('slippylist'));

</script>
</body>
