<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>



<body>

<form id="sugarList" method="post" action="/list">
  <input id="facebook_id" type="hidden" name='fb_id'>
  <div id="sugarbutton" class="green">
    <label>
      <span>Most Natural</span>
    </label>
  </div>
  <% for(var i=0; i<list.length; i++) {%>
    <div id="sugarbutton" draggable="true">
      <label>
        <input type="checkbox" name='<%= list[i] %>'><span><%= list[i] %></span>
      </label>
    </div>
  <% } %>
  <div id="sugarbutton" class="blue">
    <label>
      <input type="checkbox" name='<%= list[i] %>'><span>Most Artificial</span>
    </label>
  </div>
  <div id="sugarbutton" class="done">
     <label>
        <input type="hidden" value='Done'><span>Done</span>
     </label>
  </div>
</form>

<script>

window.extAsyncInit = function() {
  MessengerExtensions.getUserID(function success(uids) {
       var psid = uids.psid.toString();
       $("#facebook_id").val(psid)
     }, function error(err) {

     });
};

interact('#sugarbutton')
  .draggable({
    // enable inertial throwing
    inertia: true,
    // keep the element within the area of it's parent
    restrict: {
      restriction: "parent",
      endOnly: true,
      elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
    },
    // enable autoScroll
    autoScroll: true,

    // call this function on every dragmove event
    onmove: dragMoveListener,
    // call this function on every dragend event
    onend: function (event) {
      // var textEl = event.target.querySelector('p');
      //
      // textEl && (textEl.textContent =
      //   'moved a distance of '
      //   + (Math.sqrt(event.dx * event.dx +
      //                event.dy * event.dy)|0) + 'px');
    }
  });

$('#sugarbutton.done').click(function (evt) {
    $('form').submit();
    evt.preventDefault();
    MessengerExtensions.requestCloseBrowser(function success() {

      }, function error(err) {

      });
});


</script>
</body>
