<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>
<style>
img{width: 100px;}
</style>

<body>
  <div class="description z-depth-2">
    <p>How would you describe this person? (Choose all that apply.)</p>
    <% if (sugarperson === "Henry") {%>
      <img src="/images/Henry Yoo.JPG">
    <% } else if (sugarperson === "Ivan") {%>
        <img src="/images/Ivan Rickard Liow.JPG">
    <% } else if (sugarperson === "Wilson") {%>
        <img src="/images/Wilson Chu.JPG">
    <% } else if (sugarperson === "Toto") {%>
        <img src="/images/Toto Lai.JPG">
    <% } %>

  </div>

<div class="content">
  <form id="sugarList" method="post" action="/personality1">
    <input id="facebook_id" type="hidden" name='fb_id'>
    <input type="hidden" name='sugarperson' value="<%= sugarperson %>">
    <input type="hidden" name='sweetenerperson' value="<%= sweetenerperson %>">
    <% for(var i=0; i<list.length; i++) {%>
      <div class="sugarbutton">
        <label>
          <input type="checkbox" name='<%= list[i] %>'><span><%= list[i] %></span>
        </label>
      </div>
    <% } %>

    <div id="submit" class="fixed-action-btn">
      <a class="btn-floating btn-large blue">
        <i class="material-icons">send</i>
       </a>
   </div>
  </form>
</div>
<script>

window.extAsyncInit = function() {
  MessengerExtensions.getUserID(function success(uids) {
       var psid = uids.psid.toString();
       $("#facebook_id").val(psid)
     }, function error(err) {

     });
};
$("select").imagepicker();

$('#submit').click(function (evt) {
    $('form').submit();
    evt.preventDefault();
});

</script>
</body>
