<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>
<style>
img{width: 150px;}
</style>

<body>
  <p>select which of these you would consider purchasing</p>

    <form id="ProductList" method="post" action="/products">
        <input id="facebook_id" type="hidden" name='fb_id'>
      <select multiple="multiple" class="image-picker" name="products">
        <option data-img-src="/images/luckycharms.jpg" value="Lucky Charms">Lucky Charms</option>
        <option data-img-src="/images/cornflakes.jpg" value="Corn Flakes">Corn Flakes</option>
        <option data-img-src="/images/frostedflakes.jpg" value="Frosted Flakes">Frosted Flakes</option>
        <option data-img-src="/images/naturalPB.jpg" value="SmuckersPB">Cute Kitten 4</option>
        <option data-img-src="/images/creamyPB.jpg" value="PlanterPb">Cute Kitten 4</option>
        <option data-img-src="/images/darkchocolatePB.jpg" value="DarkChocolatePB">Cute Kitten 4</option>
      </select>
        <div id="submit" class="fixed-action-btn">
          <a class="btn-floating btn-large blue z-depth-2">
            <i class="material-icons">done</i>
           </a>
       </div>
    </form>
<script>

window.extAsyncInit = function() {
  MessengerExtensions.getUserID(function success(uids) {
       var psid = uids.psid.toString();
       $("#facebook_id").val(psid)
     }, function error(err) {

     });
};
$("select").imagepicker();

// $('#submit').click(function (evt) {
//     $('form').submit();
//     evt.preventDefault();
//
// });
$('#submit').click( function() {
    $.ajax({
        url: 'https://lit-thicket-26597.herokuapp.com/products',
        type: 'post',
        dataType: 'json',
        data: $('form'),
        success: function(data) {
          MessengerExtensions.requestCloseBrowser(function success() {

            }, function error(err) {

            });
                 }
    });
});

</script>
</body>
