<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<% include ./partials/head %>
<style>
img{width: 150px;}
</style>

<body>
  <p>select which of these you would consider purchasing</p>

    <form id="ProductList" method="post" action="/products">
      <select multiple="multiple" class="image-picker" name="products">
        <option data-img-src="/images/luckycharms.jpg" value="Lucky Charms">Lucky Charms</option>
        <option data-img-src="/images/cornflakes.jpg" value="Corn Flakes">Corn Flakes</option>
        <option data-img-src="/images/frostedflakes.jpg" value="Frosted Flakes">Frosted Flakes</option>
        <option data-img-src="/images/naturalPB.jpg" value="SmuckersPB">Cute Kitten 4</option>
        <option data-img-src="/images/creamyPB.jpg" value="PlanterPb">Cute Kitten 4</option>
        <option data-img-src="/images/darkchocolatePB.jpg" value="DarkChocolatePB">Cute Kitten 4</option>
      </select>
        <input id="done" type="submit" value="submit" />
    </form>
<script>

window.extAsyncInit = function() {
  MessengerExtensions.getUserID(function success(uids) {
       var psid = uids.psid.toString();
       $("#facebook_id").val(psid)
     }, function error(err) {

     });
};
$("select").imagepicker();

$('#done').click(function (evt) {
    $('form').submit();
    evt.preventDefault();
    MessengerExtensions.requestCloseBrowser(function success() {

      }, function error(err) {

      });
});

</script>
</body>
