body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#sugarbutton.done {
    margin:4px;
    background-color:#ff0000;
    border-radius:14px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    color:white;
}
#sugarbutton.green {
    margin:4px;
    background-color:#4CBB17
    border-radius:14px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    color:white;
}
#sugarbutton.blue {
    margin:4px;
    background-color:#3b5998;
    border-radius:14px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    color:white;
}
#sugarbutton {
  margin:4px;
  background-color:#f7f7f7;
  border-radius:14px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
  color:#1f93ff;
  cursor: move;
}
#sugarbutton.over {
  border: 2px dashed #ff0000;
}

#sugarbutton label {
  display: block;
  position: relative;
  overflow: hidden;
  width:16.0em;
}

#sugarbutton label span {
  text-align:center;
  padding:3px 0px;
  display:block;
}

#sugarbutton label input {
    position:absolute;
    top:-20px;
}

#sugarbutton input:checked + span {
    background-color:#3b5998;
    color:white;
}
