
/*
#sugarbutton.green {
    margin:4px;
    background-color:#4CBB17;
    border-radius:14px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    color:white;
}
.sugarbutton .blue {
    margin:4px;
    background-color:#0000FF;
    border-radius:14px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    color:white;
}*/
.sugarbutton {
  margin:6px;
  background-color:#f7f7f7;
  border-radius:14px;
  border:1px solid #D0D0D0;
  overflow:auto;
  float:left;
  cursor: move;
}

.sugarbutton label {
  display: block;
  position: relative;
  overflow: hidden;
  color:#1f93ff;
  font-size: 1.2em;
  width:16.0em;
}

.sugarbutton label span {
  text-align:center;
  padding:3px 0px;
  display:block;
}

.sugarbutton label input {
    position:absolute;
    top:-20px;
}

.sugarbutton input:checked + span {
    background-color: #0084ff;
    color:white;
}
.sugarbutton.over {
  border: 2px dashed #1f93ff;
}
.description {
  top:0;
  padding: 2px;
  background-color: #0084ff;
  height: 140px;
  position: fixed;
  color:white;
  display: table;
  z-index: 1;
}
.description p {
  padding: 20px;
  text-align:left;
  vertical-align: middle;
  display: table-cell;
}

.content {
    position: relative;
    top: 140px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height:50%;
    z-index: 0;
}

#top-rank {
  background-color: #4caf50;
}
#low-rank {
  background-color: #0084ff;
}
.ghost {
  opacity: .5;
  background: #C8EBFB;
}
